@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

.archivo-black-regular {
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

body {
    background-color: black;
} 

h1 {
    font-family: "Archivo Black", sans-serif;
    color: white;
    font-size: 60px;
    text-align: center;
}

h2 {
    font-family: "Archivo Black", sans-serif;
    color: white;
    font-size: 40px;
}

h3 {
    font-family: "Archivo Black", sans-serif;
    color: white;
    font-size: 28px;
}

h4 {
    font-family: "Archivo Black", sans-serif;
    color: white;
    font-size: 20px;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    margin: 0.5rem;
    color: white;
    list-style-type: none;
    font-size: 40px;
}

li {
    padding-left: 15px;
    padding-right: 15px;
}

.menu_btn {   
    width: 40px;
}

.brand_img {
    display: block;
    width: 45%;
    height: auto;
    margin: 250px auto 250px auto;
}

a {
    color: white;
    text-decoration: none;
}

.intro_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 3fr 1fr 2fr;
    margin: 50px 0 0 0;
}

.pinball_machine {
    grid-column: 2 / span 2;
    grid-row: 1;
    margin: 0px auto;
}

.close_up_img {
    grid-column: 2;
    grid-row: 2;
    margin-left: 44%;
}

.intro_text {
    grid-column: 3;
    grid-row: 2;
    margin: 7px 100px 0 0;
}

.kangaroo_img {
    grid-column: 2 / span 2;
    grid-row: 3;
    margin: 0px auto;
}

.about_us_grid {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.about_us_arrows {
    grid-column: 2;
    grid-row: 1 / span 2;
    margin: 45% auto 55% 10px;
    width: 45%;
}

.about_us_founders {
    grid-column: 2;
    grid-row: 1 / span 2;
    width: 50%;
    margin-left: auto;
}

.primary_text {
    grid-column: 2;
    grid-row: 1;
    margin-right: 50%;
    margin-top: 10%;
    text-align: center;
}

.secondary_text {
    grid-column: 2;
    grid-row: 2;
    margin-right: 50%;
    margin-bottom: 30%;
    margin-left: 3px;
    align-self: flex-end;
    text-align: center;
}

.product_title {
    margin: 0;
}

.product_container {
    position: relative;
    width: 100%;
    display: inline-block;
}

.product_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.product_text {
    position: absolute;
    text-align: left;
    top: 80%;
    left: 35%;
    margin: 0 35% 0 0;
}

.shop_btn {
    text-align: center;
    margin: 0 0 50px 0;
}

.distributors_container {
    position: relative;
    width: 100%;
    display: inline-block;
    margin: 50px 0;
}

.distributors_img {
    display: block;
    margin-left: 50%;
}

.distributors_title {
    position: absolute;
    text-align: left;
    top: 10%;
    left: 30%;
    margin: 0 50% 0 0;
}

.distributors_desc {
    position: absolute;
    text-align: left;
    top: 85%;
    left: 30%;
    margin: 0 40% 0 0;
}

.distributors_btn {
    text-align: center;
    margin: 0 40% 50px 40%;
}

.support_title {
    margin: 100px 0 0 0;
}

.contact_btn {
    text-align: center;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 30px 10px 30px;
}


/* .product_page_container { 
    width: 90%;
    margin: 10px auto;
    position: relative;
}

.carousel { 
    border: 2px solid #ccc;
    height: 700px;
    width: 80%;
    position: relative;
    overflow: hidden;
    left: 50%;
    transform: translate(-50%);
}

.slider { 
    height: 100%;
    display: flex;
    width: 300%;
    border: 1px solid red;
   
}

.slider section {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.controls {
    position: absolute;
    width: 100%;
    display: flex;

    cursor: pointer;
}

.arrow_left, .arrow_right {
    position: absolute;
    scale: 60%;
    transform: translatey(-50%);
}

.arrow_left {
    left:10px;
}

.arrow_right {
    right:10px;
}

.controls .indicators { 
    position: absolute;
   transform: translateY(-10%);
}

.controls ul { 
    position: absolute;
    list-style: none;
    bottom: 1px;
    left: 50%;
    transform: translate(-50%);
    padding: 0;
    margin: 0;
   
}

.controls ul li { 
    width: 5px;
    height: 20px;
    border-radius: 50px;
    margin: 10px;
    background: #333;
    cursor: pointer; 
}

.controls ul li.selected { 
    background:#ccc ;
} */

/* .beast_name {
    margin: 35px 0 0 0;
} */

.carousel { 
    position: relative;
    width: 80%;
    height: 600px;
    margin: auto;
}

.carousel_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider_container{ 
    height: 100%;
    position: relative;
}

.slider { 
    background: blue;
    padding: 0;
    margin: 0;
    list-style: none;
}

.slide { 
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.button { 
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background:transparent;
    border: 0;
    cursor: pointer;
}

.left_arrow { 
    left: -40px;
}

.right_arrow{
    right: -40px;
}

.arrows_img { 
    width: 20px;
}

.carousel_nav { 
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.indicator { 
    border: 0;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: rgba(255, 255, 255, 0.3);
    margin: 0 12px;
}

.indicator.current_slide { 
    background: rgba(255,255,255,0.7);
}